.text-center {
  text-align: center!important;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.search-input{
  width: 25vw !important;
}

body {
  background-color: #fbfbfb;
}

.bg-light{
  background-color: #595a5a !important;
}

.padding-nav-bar{
  padding-left: 16px;
  padding-bottom: 25px;
  padding-top: 25px;
}

.container-center {
  width: 30%;
  height: 50%;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.btn-hidden {
  display: none;
}

.btn-login {
  background-color: #212529;
  border-color: #212529;
}

.btn-login:hover {
  background-color: #000;
  border-color: #000;
}

.form-check-login {
  text-align: right;
}

.form-group-login{
  margin-top: 8px;
  text-align: right;
}

.tr-active {
  background-color: #e9ecef;
}
